body,
html {
  -webkit-box-pack: normal;
  height: 100vh;
}

.font-roboto {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Rock Salt', sans-serif !important;
}

.font-rock {
  /* font-family: 'Rock Salt', sans-serif !important; */
  /* font-family: 'Courgette', cursive !important; */
  font-family: 'Marck Script', cursive !important;


}

.font-weight-medium {
  font-weight: 350 !important;
}

.background-1,
.background-2,
.background-3,
.background-4,
.background-5,
.background-6,
.background-7 {
  background-repeat: no-repeat;
}

.background-1 {
  /* background: url(./pattern.svg), -webkit-linear-gradient(145deg, #fb6f4a 0%, #fa3454 25%, #d253b1 100%); */
  background: url(./pattern.svg), linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  background-position: center;
}

.background-2 {
  /* background: url(./pattern.svg), -webkit-gradient(linear, bottom top, bottom top, from(#a84abb), color-stop(47%, #d253b1), to(#fa3454)); */
  /* background: url(./pattern.svg), -webkit-linear-gradient(top, #a84abb, #d253b1 47%, #fa3454); */
  background: url(./pattern.svg), linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  background-position: left;
}

.background-3 {
  /* background: url(./pattern.svg), -webkit-gradient(linear, left bottom, left top, from(#531d77), to(#a84abb));
  background: url(./pattern.svg), -webkit-linear-gradient(bottom, #531d77, #a84abb 100%); */
  background: url(./pattern.svg), linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
  background-position: right;
}

.background-4 {
  /* background: url(./pattern.svg), -webkit-gradient(linear, left bottom, left top, from(#00a9ff), to(#531d77));
  background: url(./pattern.svg), -webkit-linear-gradient(bottom, #00a9ff, #531d77 100%); */
  background: url(./pattern.svg), radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
  background-position: right;
}

.background-5 {
  /* background: url(./pattern.svg), -webkit-linear-gradient(145deg, #9adee6 0%, #00a9ff 25%, #0443a2 100%); */
  background: url(./pattern.svg), radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
  background-position: 30% 10%;
}

.background-5-1 {
  /* background: url(./pattern.svg), -webkit-gradient(linear, bottom top, bottom top, from(#a84abb), color-stop(47%, #d253b1), to(#fa3454));
  background: url(./pattern.svg), -webkit-linear-gradient(top, #a84abb, #d253b1 47%, #fa3454); */
  background: url(./pattern.svg), radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
  background-position: left;
}

.background-5-2 {
  /* background: url(./pattern.svg), -webkit-linear-gradient(145deg, #fb6f4a 0%, #fa3454 25%, #d253b1 100%); */
  background: url(./pattern.svg), radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
  background-position: center;
}

.background-5-3 {
  /* background: url(./pattern.svg), -webkit-linear-gradient(145deg, #9adee6 0%, #00a9ff 25%, #0443a2 100%); */
  background: url(./pattern.svg), linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
  background-position: 30% 10%;
}

.background-6 {
  /* background: url(./pattern.svg), -webkit-linear-gradient(345deg, #fa3454 0%, #d253b1 25%, #00a9ff 100%); */
  background: url(./pattern.svg), linear-gradient( 126.3deg,  rgba(30,2,83,1) 32.2%, rgba(198,55,160,0.46) 109.2% );
  background-position: center;
}

.background-7 {
  background: url(./si.jpeg), radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
  background-size: contain;
  background-position: center !important;
  background-repeat: no-repeat;
}



.text-white {
  color: #fff !important;
}

.text-medium {
  font-size: 40px;
  font-weight: 500;
}

.text-big {
  font-size: 45px;
  font-weight: 500;
}

.text-big-2 {
  font-size: 4rem;
  font-weight: bold;
}

@media (max-width: 768px) {

  .background-1,
  .background-3,
  .background-5,
  .background-7 {
    background-repeat: no-repeat;
    background-position: left;
  }

  .background-2,
  .background-4,
  .background-6 {
    background-repeat: no-repeat;
    background-position: right;
  }

  .text-medium {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .text-big {
    font-size: 2.3rem;
    font-weight: 700;
  }

  .text-big-2 {
    font-size: 3rem;
    font-weight: bold;
  }
}

.emoji {
  width: 120px;
  height: 120px;
  margin: 15px 15px 40px;
  background: #FFDA6A;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.emoji:after {
  position: absolute;
  bottom: -40px;
  font-size: 18px;
  width: 60px;
  left: calc(50% - 30px);
  color: #8A8A8A;
}

.emoji__face,
.emoji__eyebrows,
.emoji__eyes,
.emoji__mouth,
.emoji__tongue,
.emoji__heart,
.emoji__hand,
.emoji__thumb {
  position: absolute;
}

.emoji__face:before,
.emoji__face:after,
.emoji__eyebrows:before,
.emoji__eyebrows:after,
.emoji__eyes:before,
.emoji__eyes:after,
.emoji__mouth:before,
.emoji__mouth:after,
.emoji__tongue:before,
.emoji__tongue:after,
.emoji__heart:before,
.emoji__heart:after,
.emoji__hand:before,
.emoji__hand:after,
.emoji__thumb:before,
.emoji__thumb:after {
  position: absolute;
  content: '';
}

.emoji__face {
  width: inherit;
  height: inherit;
}

.emoji--like {
  background: #548DFF;
}

.emoji--like:after {
  content: 'Like';
}

.emoji--like .emoji__hand {
  left: 25px;
  bottom: 30px;
  width: 20px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  z-index: 0;
  animation: hands-up 2s linear infinite;
}

.emoji--like .emoji__hand:before {
  left: 25px;
  bottom: 5px;
  width: 40px;
  background: inherit;
  height: 10px;
  border-radius: 2px 10px 10px 2px;
  box-shadow: 1px -9px 0 1px #FFFFFF, 2px -19px 0 2px #FFFFFF, 3px -29px 0 3px #FFFFFF;
}

.emoji--like .emoji__thumb {
  border-bottom: 20px solid #FFFFFF;
  border-left: 20px solid transparent;
  top: -25px;
  right: -25px;
  z-index: 2;
  transform: rotate(5deg);
  transform-origin: 0% 100%;
  animation: thumbs-up 2s linear infinite;
}

.emoji--like .emoji__thumb:before {
  border-radius: 50% 50% 0 0;
  background: #FFFFFF;
  width: 10px;
  height: 12px;
  left: -10px;
  top: -8px;
  transform: rotate(-15deg);
  transform-origin: 100% 100%;
  box-shadow: -1px 4px 0 -1px #FFFFFF;
}

.emoji--love {
  background: #F55064;
}

.emoji--love:after {
  content: 'Yes';
}

.emoji--love .emoji__heart {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  animation: heart-beat 1s linear infinite alternate;
}

.emoji--love .emoji__heart:before,
.emoji--love .emoji__heart:after {
  left: calc(50% - 20px);
  top: calc(50% - 32px);
  width: 40px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
}

.emoji--love .emoji__heart:before {
  transform: translate(20px) rotate(-45deg);
  transform-origin: 0 100%;
}

.emoji--love .emoji__heart:after {
  transform: translate(-20px) rotate(45deg);
  transform-origin: 100% 100%;
}

.emoji--haha:after {
  content: 'Haha';
}

.emoji--haha .emoji__face {
  animation: haha-face 2s linear infinite;
}

.emoji--haha .emoji__eyes {
  width: 26px;
  height: 6px;
  border-radius: 2px;
  left: calc(50% - 13px);
  top: 35px;
  transform: rotate(20deg);
  background: transparent;
  box-shadow: -25px 5px 0 0 #000000, 25px -5px 0 0 #000000;
}

.emoji--haha .emoji__eyes:after {
  left: 0;
  top: 0;
  width: 26px;
  height: 6px;
  border-radius: 2px;
  transform: rotate(-40deg);
  background: transparent;
  box-shadow: -25px -5px 0 0 #000000, 25px 5px 0 0 #000000;
}

.emoji--haha .emoji__mouth {
  width: 80px;
  height: 40px;
  left: calc(50% - 40px);
  top: 50%;
  background: #000000;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
  z-index: 1;
  animation: haha-mouth 2s linear infinite;
}

.emoji--haha .emoji__tongue {
  width: 70px;
  height: 30px;
  background: #F55064;
  left: calc(50% - 35px);
  bottom: -10px;
  border-radius: 50%;
}

.emoji--yay:after {
  content: 'Yay';
  animation: yay-reverse 1s linear infinite;
}

.emoji--yay .emoji__face {
  animation: yay 1s linear infinite alternate;
}

.emoji--yay .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 30px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -6px 0 0 0 #000000, -36px 0 0 0px #000000, 6px 0 0 0 #000000, 36px 0 0 0px #000000;
}

.emoji--yay .emoji__eyebrows:before,
.emoji--yay .emoji__eyebrows:after {
  width: 36px;
  height: 18px;
  border-radius: 60px 60px 0 0;
  background: transparent;
  border: 6px solid black;
  box-sizing: border-box;
  border-bottom: 0;
  bottom: 3px;
  left: calc(50% - 18px);
}

.emoji--yay .emoji__eyebrows:before {
  margin-left: -21px;
}

.emoji--yay .emoji__eyebrows:after {
  margin-left: 21px;
}

.emoji--yay .emoji__mouth {
  top: 60px;
  background: transparent;
  left: 50%;
}

.emoji--yay .emoji__mouth:after {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: -75px;
  border-radius: 50%;
  background: transparent;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 1;
}

.emoji--yay .emoji__mouth:before {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 3px);
  box-shadow: -25px 0 0 0 #000000, 25px 0 0 0 #000000, -35px -2px 30px 10px #D5234C, 35px -2px 30px 10px #D5234C;
}

.emoji--wow:after {
  content: 'Wow';
}

.emoji--wow .emoji__face {
  animation: wow-face 3s linear infinite;
}

.emoji--wow .emoji__eyebrows {
  left: calc(50% - 3px);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -18px 0 0 0 #000000, -33px 0 0 0 #000000, 18px 0 0 0 #000000, 33px 0 0 0 #000000;
  animation: wow-brow 3s linear infinite;
}

.emoji--wow .emoji__eyebrows:before,
.emoji--wow .emoji__eyebrows:after {
  width: 24px;
  height: 20px;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -3px;
  left: calc(50% - 12px);
}

.emoji--wow .emoji__eyebrows:before {
  margin-left: -25px;
}

.emoji--wow .emoji__eyebrows:after {
  margin-left: 25px;
}

.emoji--wow .emoji__eyes {
  width: 16px;
  height: 24px;
  left: calc(50% - 8px);
  top: 35px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--wow .emoji__mouth {
  width: 30px;
  height: 45px;
  left: calc(50% - 15px);
  top: 50%;
  border-radius: 50%;
  background: #000000;
  animation: wow-mouth 3s linear infinite;
}

.emoji--sad:after {
  content: 'No';
}

.emoji--sad .emoji__face {
  animation: sad-face 2s ease-in infinite;
}

.emoji--sad .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 35px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -40px 9px 0 0 #000000, -25px 0 0 0 #000000, 25px 0 0 0 #000000, 40px 9px 0 0 #000000;
}

.emoji--sad .emoji__eyebrows:before,
.emoji--sad .emoji__eyebrows:after {
  width: 30px;
  height: 20px;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 2px;
  left: calc(50% - 15px);
}

.emoji--sad .emoji__eyebrows:before {
  margin-left: -30px;
  transform: rotate(-30deg);
}

.emoji--sad .emoji__eyebrows:after {
  margin-left: 30px;
  transform: rotate(30deg);
}

.emoji--sad .emoji__eyes {
  width: 14px;
  height: 16px;
  left: calc(50% - 7px);
  top: 50px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--sad .emoji__eyes:after {
  background: #548DFF;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  border-radius: 0 100% 40% 50% / 0 50% 40% 100%;
  transform-origin: 0% 0%;
  animation: tear-drop 2s ease-in infinite;
}

.emoji--sad .emoji__mouth {
  width: 60px;
  height: 80px;
  left: calc(50% - 30px);
  top: 80px;
  box-sizing: border-box;
  border: 6px solid #000000;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background: transparent;
  animation: sad-mouth 2s ease-in infinite;
}

.emoji--sad .emoji__mouth:after {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  top: 4px;
  left: calc(50% - 3px);
  box-shadow: -18px 0 0 0 #000000, 18px 0 0 0 #000000;
}

.emoji--angry {
  background: linear-gradient(#D5234C -10%, #FFDA6A);
  background-size: 100%;
  animation: angry-color 2s ease-in infinite;
}

.emoji--angry:after {
  content: 'Angry';
}

.emoji--angry .emoji__face {
  animation: angry-face 2s ease-in infinite;
}

.emoji--angry .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 55px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -44px 5px 0 0 #000000, -7px 16px 0 0 #000000, 7px 16px 0 0 #000000, 44px 5px 0 0 #000000;
}

.emoji--angry .emoji__eyebrows:before,
.emoji--angry .emoji__eyebrows:after {
  width: 50px;
  height: 20px;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 0;
  left: calc(50% - 25px);
}

.emoji--angry .emoji__eyebrows:before {
  margin-left: -25px;
  transform: rotate(15deg);
}

.emoji--angry .emoji__eyebrows:after {
  margin-left: 25px;
  transform: rotate(-15deg);
}

.emoji--angry .emoji__eyes {
  width: 12px;
  height: 12px;
  left: calc(50% - 6px);
  top: 70px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--angry .emoji__mouth {
  width: 36px;
  height: 18px;
  left: calc(50% - 18px);
  bottom: 15px;
  background: #000000;
  border-radius: 50%;
  animation: angry-mouth 2s ease-in infinite;
}

@keyframes heart-beat {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.6);
  }
}

@keyframes haha-face {
  10% {
    transform: translateY(25px);
  }

  20% {
    transform: translateY(15px);
  }

  30% {
    transform: translateY(25px);
  }

  40% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(25px);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-10px);
  }
}

@keyframes haha-mouth {
  10% {
    transform: scale(0.6);
    top: 45%;
  }

  20% {
    transform: scale(0.8);
    top: 45%;
  }

  30% {
    transform: scale(0.6);
    top: 45%;
  }

  40% {
    transform: scale(0.8);
    top: 45%;
  }

  50% {
    transform: scale(0.6);
    top: 45%;
  }

  60% {
    transform: scale(1);
    top: 50%;
  }

  70% {
    transform: scale(1.2);
    top: 50%;
  }

  80% {
    transform: scale(1);
    top: 50%;
  }

  90% {
    transform: scale(1.1);
    top: 50%;
  }
}

@keyframes yay {
  25% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }
}

@keyframes wow-face {

  15%,
  25% {
    transform: rotate(20deg) translateX(-25px);
  }

  45%,
  65% {
    transform: rotate(-20deg) translateX(25px);
  }

  75%,
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes wow-brow {

  15%,
  65% {
    top: 25px;
  }

  75%,
  100%,
  0% {
    top: 15px;
  }
}

@keyframes wow-mouth {

  10%,
  30% {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
  }

  50%,
  70% {
    width: 30px;
    height: 40px;
    left: calc(50% - 15px);
  }

  75%,
  100% {
    height: 50px;
  }
}

@keyframes sad-face {

  25%,
  35% {
    top: -15px;
  }

  55%,
  95% {
    top: 10px;
  }

  100%,
  0% {
    top: 0;
  }
}

@keyframes sad-mouth {

  25%,
  35% {
    transform: scale(0.85);
    top: 70px;
  }

  55%,
  100%,
  0% {
    transform: scale(1);
    top: 80px;
  }
}

@keyframes tear-drop {

  0%,
  100% {
    display: block;
    left: 35px;
    top: 15px;
    transform: rotate(45deg) scale(0);
  }

  25% {
    display: block;
    left: 35px;
    transform: rotate(45deg) scale(2);
  }

  49.9% {
    display: block;
    left: 35px;
    top: 65px;
    transform: rotate(45deg) scale(0);
  }

  50% {
    display: block;
    left: -35px;
    top: 15px;
    transform: rotate(45deg) scale(0);
  }

  75% {
    display: block;
    left: -35px;
    transform: rotate(45deg) scale(2);
  }

  99.9% {
    display: block;
    left: -35px;
    top: 65px;
    transform: rotate(45deg) scale(0);
  }
}

@keyframes hands-up {
  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg) translateY(-10px);
  }

  75%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes thumbs-up {
  25% {
    transform: rotate(20deg);
  }

  50%,
  100% {
    transform: rotate(5deg);
  }
}

@keyframes angry-color {

  45%,
  60% {
    background-size: 250%;
  }

  85%,
  100%,
  0% {
    background-size: 100%;
  }
}

@keyframes angry-face {

  35%,
  60% {
    transform: translateX(0) translateY(10px) scale(0.9);
  }

  40% {
    transform: translateX(-5px) translateY(10px) scale(0.9);
  }

  45% {
    transform: translateX(5px) translateY(10px) scale(0.9);
  }

  50% {
    transform: translateX(-5px) translateY(10px) scale(0.9);
  }

  55% {
    transform: translateX(5px) translateY(10px) scale(0.9);
  }
}

@keyframes angry-mouth {

  25%,
  50% {
    height: 6px;
    bottom: 25px;
  }
}

div.back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0vmax;
  height: 0vmax;
  transform: translate(-50%, -50%);
  background: #F55064;
  border-radius: 50%;
  transition: all 1s ease;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

div.back.selected {
  width: 200vmax;
  height: 200vmax;
  transition: all 1s ease;
}

.fin {
  background: #F55064;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.marco {
  padding: 10px;
}

.background-heart{
  background: #0b1522;
}

.content-heart{
  display: grid !important;
  place-items: center !important;
}

.heart {
  height: 150px;
  width: 150px;
  background-color: #f20044;
  position: relative;
  transform: rotate(45deg);
  box-shadow: -20px 20px 150px #f20044;
  animation: palpitar 0.5s linear infinite alternate;
}

.content-phrase{
  position: fixed;
  margin-bottom: 50px;
  text-align: center;
}

.phrase{
  color: #fff
}

@keyframes palpitar {
  0%{transform: rotate(45deg) scale(1.10);}
  80%{transform: rotate(45deg) scale(1.0);}
  100%{transform: rotate(45deg) scale(0.8);}
}

.heart::before{
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #f20044;
  right: 50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}

.heart::after{
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #f20044;
  top: -50%;
  border-radius: 50%;
  box-shadow: -20px 20px 150px #f20044;
}